{% extends 'student/base.html' %}

{% block content %} 
<div class = 'row'>
    <div class = 'col-sm-4'>
        <h4 class = "text-center alert alert-info">Add new Student</h4>
        <form action="" method = 'POST' novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class = 'btn btn-success', value = 'Add'>
</form>
    </div>

    <div class = 'col sm-7 offset'>
        <h4 class = "text-center alert alert-info">Show Students Information</h4>
        {% if stu %}
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PASSWORD</th>
                <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
            {% for stud in stu %}
                <tr>
                <th scope="row">{{stud.id}}</th>
                <td>{{stud.name}}</td>
                <td>{{stud.email}}</td>
                <td>{{stud.password}}</td>
                <td>
                <a href="{% url 'update' stud.id %}" class = "btn btn-warning btn-sm">Edit</a>
                {% comment %} <a href="#" class = "btn btn-danger btn-sm">Delete</a> {% endcomment %}
                    <form action="{% url 'delete' stud.id %}" method = "POST" class = "d-inline">
                    {% csrf_token %}
                        <input type="submit" value="Delete" class = "btn btn-danger">
                    </form>
                </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            
        {% else %}
        <h4 class = "text-center alert alert-warning">No Records</h4>
        {% endif%}
    </div>

</div>

{% endblock content %}